
/*Aufgabe 3a)*/

body{
    background-image: url(karo.png);
}
main {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    width: auto;
    text-align: center;
    
}

h1 {
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.25em;
    
}

footer {
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
    bottom: -60em;
    font-size: 1em;

    
}
button{
    
   background-color: peachpuff;
    font-size: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



